// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';


a.create-post {
    font-size: 26px;
    color: #6cb2eb;
    transition: .25s;

    i {
        margin-right: 12px;
        color: #6cb2eb;
        transition: .25s;
    }

    &:hover, &:hover i {
        color: #2176bd;
        text-decoration: none;
    }
}

table {
    margin-top: 24px;

    thead {
        background-color: #c0ddf6;

        th {
            border-bottom: 2px solid #a5ddf6 !important;
        }
    }

    th, td {
        border-top: 1px solid #a5ddf6 !important;
    }

    tbody {
        tr {
            transition: .25s;

            &:hover {
                background-color: #d6e9f9;
            }
        }
    }
}

.post-container {
    .banner {
        width: 100%;
        height: 200px;
        margin-bottom: 6px;
    }

    .premium {
        font-size: 18px;
        font-weight: bold;
        color: goldenrod;
    }

    h1 {
        color: $gray-900;
    }

    i {
        margin-right: 6px;
        color: #6cb2eb;
    }

    .author {
        font-size: 16px;
        font-style: italic;
        color: $gray-600;
    }

    .post-details {
        margin: 12px 0 24px 0;
        font-size: 14px;
        color: $gray-700;
    }

    .post-body {
        img {
            margin-left: 12px;
            width: 500px;
            height: 330px;
        }

        p {
            font-size: 16px;
            color: $gray-900;
            text-align: justify;
        }
    }

    .navigation {
        a, i {
            font-size: 18px;
            color: #6cb2eb;
            text-decoration: none;
            transition: .25s;

            &:hover, &:hover i {
                color: #2176bd;
            }
        }
    }

    .comment-section {
        margin-top: 36px;

        h3 {
            color: #6cb2eb;
        }

        form {
            margin-top: 12px;

            .input-group-text {
                background-color: #c0ddf6;
                color: white;
            }

            button {
                position: relative;
                left: 100%;
                transform: translate(-100%, 0);
            }
        }
    }
}

.create-post-container {
    form {
        margin-top: 24px;

        .form-group {
            font-size: 18px;

            button {
                float: right;
                font-size: 16px;
            }
        }
    }
}