// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.posts {
    margin-top: 24px;

    .post {
        margin-bottom: 36px;

        h2 {
            font-size: 30px;
        }

        .author {
            font-size: 20px;
            font-style: italic;
        }

        .post-content {
            margin-top: 6px;
            content: "";
            display: table;
            clear: both;

            p {
                text-align: justify;
                font-size: 18px;
            }

            img {
                float: right;
                display: inline;
                margin-left: 12px;
            }
        }
    }
}